/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Styles */
* {
    box-sizing: border-box;
}
span {
    font-size: 60px;
    font-weight: 700;
    display: flex;
}
h2 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.line {
    width: 60%;
    height: 1px;
    background-color: rgb(223, 223, 223);
    margin: 0 auto;
}
#start{
    visibility: visible;
}
#informator{
    visibility: hidden;
}
.pop-up_wrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.205);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-up {
    width: 450px;
    height: 300px;
    background-color: aliceblue;
    -webkit-box-shadow: 0px 10px 55px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 10px 55px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 10px 55px 0px rgba(0,0,0,0.5);
}

.span-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.span-wrapper span {
    font-size: 40px;
    font-weight: 500;
}
.span-wrapper input {
    height: 40px;
    margin: 10px;
}
#title-wrapper {
    text-align: center;
    padding: 20px 0 40px;
    color: rgb(150, 150, 150);
    font-size: 12px;
}
#title {
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-decoration: none;
}
#adnotation {
    padding: 5px 0;
}
#score{
    width: 300px;
    margin: 0 auto 40px;
    display: flex;
    justify-content: space-between;
}
.score{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 500;
}
.name{
    font-size: 30px;
    font-weight: 500;
}
#gameboard {
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3,33%);
    grid-template-rows: repeat(3,33%);
    place-items: center;
    place-content: center;
    grid-gap: 4px;
}
.grid-item {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#controls {
    width: 500px;
    margin: 40px auto;
    display: flex;
    justify-content: space-around;
}
.control-button {
    width: 200px;
    height: 40px;
    font-size: 20px;
    font-weight: 500;
}
.pop-up_controls{
    display: flex;
    justify-content: space-around;
    margin: 35px 0;
}
.pop-up_control-button{
    width: 200px;
    height: 30px;
    font-size: 18px;
    font-weight: 500;
}